node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

npm-debug.log
yarn-error.log
buck-out/
\.buckd/
*.keystore
!debug.keystore


*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

*.jsbundle

